

<ul class="container">
    <li class="navbar1"><a href="#EDUCATION">EDUCATION</a></li>
   <li class="navbar1"><a href="#CERTIFICATION-TRAINING">CERTIFICATION-TRAINING</a></li>
   <li class="navbar1"><a href="#COMPUTER-AND-PROGRAMMING-SKILLS">COMPUTER-AND-PROGRAMMING-SKILLS</a></li>
   <li class="navbar1"><a href="#SKILLS">SKILLS</a></li>
    <li class="navbar1"><a href="#Contact">Contact</a></li>
</ul>

@{
    ViewData["Title"] = "Can Gire";

}



<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stil.css">
</head>
<body>
    <div>
        <div class="flex-container">
            <img class="profile" src="~/image/profile.jpg" alt="">
             <div class="writings">
            <h2>
               
                    Can Gire
            </h2>
            <h3>
                Full Stack Developer
            </h3>
            <h4>
                Hungry for learning
            </h4>
            </div>
        </div>


        </div >



    <hr>

    <h1>
        EDUCATION  <a name="EDUCATION"/>
    </h1>
    <table>
        <tr>
            <th>
                Time
            </th>
            <th>
                School
            </th>
        </tr>
        <tr>
            <td>
                2022-2023
            </td>
            <td>
                Bilge Adam Boost
            </td>
        </tr>
        <tr>
            <td>
                2021-2023
            </td>
            <td>
                Hacettepe University Information Systems, Ms

            </td>
        </tr>
        <tr>
            <td>2014-2019</td>
            <td>
                Hacettepe University,Physical Therapy And Rehabilitation,

            </td>
        </tr>
    </table>
    <br />
    <a class="EnUst" href="#top">En Üste dönmek için tıklayınız </a>
    <br />
    <hr>
    <h1>
        CERTIFICATION & TRAINING  <a name="CERTIFICATION-TRAINING"/>
    </h1>
    <table>
        <tr>
            <th>
                Time
            </th>
            <th>
                Training
            </th>
            <th>
                Lessons
            </th>
        </tr>
        <tr>
        <tr>
            <td>
                2020-2021
            </td>
            <td>
                ODTU Informatıon Technologıes Certificate Program
            </td>
            <td>
                -Computer Systems and Python Programming
                -Introduction to computer Programming with Java
                -Data Structures and Algorithms with Java
                -Operating Systems with UNIX
                -Software Engineering
                -Database Management Systems
                -Web Programming
                -Software Development Project

            </td>
        </tr>
        </tr>
        <tr>
            <td>
                2022
            </td>
            <td>
                Global AL Hub
            </td>
            <td>
                -Introduction to python
                - Introduction to Database
                -Data Visualization
                -Hands-on Data Visualization with Python
                -Data Analysis

            </td>
        </tr>
    </table>
    <br />
    <a class="EnUst" href="#top">En Üste dönmek için tıklayınız </a>
    <br />
    <hr>
    <h1>
        COMPUTER AND PROGRAMMING SKILLS     <a name="COMPUTER-AND-PROGRAMMING-SKILLS" />
    </h1>

    <ul>
        <li> java</li>
        <li>Entity Framework</li>
        <li>Python</li>
    </ul>

    <h1>
        Languages
    </h1>
    <ul>
        <li>
            Turkish
        </li>
        <li>
            English
        </li>
    </ul>
    <br />
    <a class="EnUst" href="#top">En Üste dönmek için tıklayınız </a>
    <br />
    <h1>
        SKILLS     <a name="SKILLS" />
    </h1>
    <table class="ability-table">

        <tr class="ability">
            
            <td>
                c#
            </td>
            <td class="star">
                ⭐⭐⭐⭐⭐
            </td>
           
        </tr>
   
        <tr class="ability">

            <td>
                Entity Framework
            </td>
            <td class="star">
                ⭐⭐⭐⭐⭐
            </td>
        

        </tr>
        <tr class="ability">

            <td>
                MsSql
            </td>
            <td class="star">
                ⭐⭐⭐⭐⭐
            </td>


        </tr>
        <tr class="ability">
            <td>
                java
            </td>
            <td class="star">
                ⭐⭐⭐⭐⭐
            </td>
        </tr>
        <tr class="ability">
            <td>
                Windows Application
            </td>
            <td class="star">
                ⭐⭐⭐⭐⭐
            </td>

        </tr>
    </table>
     <br />
    <a class="EnUst" href="#top">En Üste dönmek için tıklayınız </a>
    <hr />
    <h1>Contact</h1>


    @Html.Partial("_Slider")

    <hr />
    <hr />
    <hr />
</body>


</html>

